In [1]:
from sklearn import tree
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

In [2]:
#9个女孩和8只猫的数据，对应7个feature，yes取值为1，no为0
features = np.array([
    [1, 1, 0, 0, 1, 0, 1],
    [1, 1, 1, 0, 0, 0, 1],
    [0, 1, 0, 0, 0, 0, 1],
    [1, 1, 0, 0, 1, 0, 1],
    [0, 1, 0, 0, 1, 0, 0],
    [0, 1, 0, 0, 1, 0, 1],
    [1, 1, 0, 0, 1, 0, 0],
    [0, 1, 0, 0, 1, 0, 1],
    [0, 1, 0, 1, 1, 1, 1],
    [1, 0, 1, 1, 1, 1, 0],
    [0, 0, 0, 1, 1, 1, 0],
    [1, 0, 1, 1, 1, 1, 0],
    [0, 0, 0, 1, 1, 1, 0],
    [1, 0, 0, 1, 1, 1, 0],
    [0, 0, 1, 0, 1, 1, 0],
    [1, 1, 1, 1, 1, 1, 0],
    [1, 0, 1, 1, 1, 1, 0]
])

#1 表示是女孩，0表示是猫  
labels = np.array([
    [1],
    [1],
    [1],
    [1],
    [1],
    [1],
    [1],
    [1],
    [1],
    [0],
    [0],
    [0],
    [0],
    [0],
    [0],
    [0],
    [0],
])
columns = ['Has a bow', 'Wear Clothes', 'Less than 5 apples tall', 'Has whiskers', 'Has round face', 'Has cat ears', 'Walks on 2 feet']
data = pd.DataFrame(data=features, columns=columns)

data['labels'] = labels
data

,Has a bow,Wear Clothes,Less than 5 apples tall,Has whiskers,Has round face,Has cat ears,Walks on 2 feet,labels
0,1,1,0,0,1,0,1,1
1,1,1,1,0,0,0,1,1
2,0,1,0,0,0,0,1,1
3,1,1,0,0,1,0,1,1
4,0,1,0,0,1,0,0,1
5,0,1,0,0,1,0,1,1
6,1,1,0,0,1,0,0,1
7,0,1,0,0,1,0,1,1
8,0,1,0,1,1,1,1,1
9,1,0,1,1,1,1,0,0
10,0,0,0,1,1,1,0,0
11,1,0,1,1,1,1,0,0
12,0,0,0,1,1,1,0,0
13,1,0,0,1,1,1,0,0
14,0,0,1,0,1,1,0,0
15,1,1,1,1,1,1,0,0
16,1,0,1,1,1,1,0,0

In [3]:
# 从数据集中取20%作为测试集，其他作为训练集
X_train, X_test, y_train, y_test = train_test_split(
    data.iloc[:, :-1],
    data.iloc[:, -1],
    test_size=0.2,
    random_state=0,
)

In [4]:
# 训练分类树模型
clf = tree.DecisionTreeClassifier()
clf.fit(X=X_train, y=y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [5]:
# 测试
print(clf.predict(X_test))
# 对比测试结果和预期结果
print(clf.score(X=X_test, y=y_test))

[1 1 0 0]
0.75

In [6]:
# 预测HelloKitty
HelloKitty = np.array([[1,1,1,1,1,1,1]])
print(clf.predict(HelloKitty))

[0]

In [7]:
from sklearn.externals.six import StringIO
import pydotplus

dot_data = StringIO()
label_names = np.array(['cat', 'girl'])
tree.export_graphviz(clf, out_file=dot_data,
                     feature_names=columns,
                     class_names=label_names,
                     filled=True, rounded=True,
                     impurity=False)

graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_pdf("kitty.pdf")

True